h1 {
    color: rgba(49, 93, 187, 0.699);
    font-size: 75px;
}
ul {
    color: blue;
    font-size: 42px;
}
body {
    background-color: rgb(196, 150, 22);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}